In [ ]:
a = 10
b = 20
c = a + b
print(c)
print("c")

30
c

In python we can use variables directly without declaration
In the given program
a = 10 creates a variable named a with value 10,
b = 20 creates a variable named b with value 20,
c = a + b creates a variable named c with value a + b i.e 10 + 20 i.e 30

In [ ]:
a = 10
print (type (a))
a = 10.5
print (type (a))
a ='Dharmanshu'
print (type (a))
a = True
print (type (a))
a = [10,20,30]
print (type (a))
a = (10,20,30)
print (type (a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>

Every Variable in python has a datatype,various datatype in python are:-int,float,str,bool,list,tuple,set,dict

In [ ]:
a = 10
b = 20
c = a + b
print("sum of",a,"and",b,"=",c)
print("sum of {} and {} is {}".format(a,b,c))

sum of 10 and 20 = 30
sum of 10 and 20 is 30

In [ ]:
a = input("Enter first number")
b = input("Enter second number")
a = int(a)
b = int(b)
c = a + b
print("sum of {} and {} is {}".format(a,b,c))

Enter first number10
Enter second number20
sum of 10 and 20 is 30

In [ ]:
#Area of Circle
r = input("enter radius")
r = float(r) #can also use int(r) for integer value
Area = 3.14*r*r
print("area of circle = {}".format(Area))

enter radius   3.15
area of circle = 31.15665

In [ ]:
#Area of traingle
b = input("Base of triangle")
h = input("Height of triangle")
b = int(b)
h = int(h)
Area = 0.5 * b * h
print ("Area of triangle = {}".format(Area))

Base of triangle   10
Height of triangle  4
Area of triangle = 20.0

In [ ]:
#Slope of a line
a = input("coordinate (x1)")
b = input("coordinate (x2)")
c = input("coordinate (y1)")
d = input("coordinate (y2)")
a = int(a) #can also use float(a)
b = int(b)
c = int(c)
d = int(d)
Slope = (d-c)/(b-a)
print("slope of line ={}".format(Slope))

coordinate (x1)  10
coordinate (x2)  8
coordinate (y1)  6
coordinate (y2)  4
slope of line =1.0

In [ ]:
#length of line
import math
a = input("coordinate (x1)")
b = input("coordinate (x2)")
c = input("coordinate (y1)")
d = input("coordinate (y2)")
a = int(a) #can also use float(a)
b = int(b)
c = int(c)
d = int(d)
Line = math.sqrt((d-c)*(d-c)+(b-a)*(b-a))
print("length of line ={}".format(Line))

coordinate (x1)  10
coordinate (x2)  8
coordinate (y1)  6
coordinate (y2)  4
length of line =2.8284271247461903

BODMASS  rule is followed for mathematical operations ,B - Brackets, O - Order of powers or roots, D - Division, M - Multiplication A - Addition, and S - Subtraction.

In [ ]:
#input coordinates of 3 points of triangle and find its area
import math
a = input("coordinate (x1)")
b = input("coordinate (x2)")
c = input("coordinate (x3)")
d = input("coordinate (y1)")
e = input("coordinate (y2)")
f = input("coordinate (y3)")
a = int(a) #can also use float(a)
b = int(b)
c = int(c)
d = int(d) 
e = int(e) 
f = int(f) 
Area = abs(0.5*(a*(e-f)+b*(f-d)+c*(d-e)))
print("Area of triangle ={}".format(Area))

coordinate (x1)  1
coordinate (x2)  2
coordinate (x3)  -5
coordinate (y1)  4
coordinate (y2)  3
coordinate (y3)  -3
Area of triangle =6.5

In [ ]:
#for loop
for x in range (1,11):
  print(x)
  print('hello')
print("end for loop")

1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello
10
hello
end for loop

In [ ]:
#for loop
for x in range (1,11):
  print(x,end = " ")
print("\n")
print("hello")

1 2 3 4 5 6 7 8 9 10

hello

In [ ]:
#for loop
for x in range (11,17):
  print(x , " " , x+4)

11   15
12   16
13   17
14   18
15   19
16   20

In [ ]:
#for loop
for x in range (1,11,2):
  print(x,end = " ")

1 3 5 7 9

In [ ]:
#for loop
for x in range (10,0,-1,):
  print(x , end = " ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
#for loop
s = 0
for x in range (1,11):
  s = s+x
print("sum =", s)

sum = 55

In [ ]:
#for loop
n = input("value of n =")
n = int(n)
s = 0
for x in range (1,n+1):
  s = s+x
print("sum =", s)

value of n = 100
sum = 5050

In [ ]:
#while loop ,print numbers from 1 to 10
x =0
while(x<10):
  x=x+1
  print(x,end = " ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
x =1
while x<=10:
  print(x,end=" ")
  x=x+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
#print all odd numbers between 1 to 10
x = 1
while(x<=9):
  print(x,end = " ")
  x=x+2

1 3 5 7 9

In [ ]:
#print numbers from 10 to 1
x = 10
while(x>=1):
   print(x, end = " ")
   x=x-1

10 9 8 7 6 5 4 3 2 1

In [ ]:
#while loop ,print numbers from 1.5 to 10.5
x =1.5
while(x<=10.5):                      #float element cannot be print using for loop
  print(x,end = " ")
  x=x+1

1.5 2.5 3.5 4.5 5.5 6.5 7.5 8.5 9.5 10.5

In [ ]:
#print sum of all numbers from 1 to n
n = input("Enter value of n =")
n=float(n)
s=0
x=1
while(x<n+1):
  s=s+x
  x=x+1
  print(s)
print("sum ={}".format(s))

Enter value of n = 5
1
3
6
10
15
sum =15

In [ ]:
#special programs with infinite loop result
#1
x=77
y=7
while(x>y):
  y=x/y
  print(x," ",y)
#output:-77 11 
         77  7 infinite times
#2
x=1
while(X<=10)
   print(x)
x=x+1
#output:- 1 infinite times

In [ ]:
#special while loop program
x=0
while(x<=5):
  x=x+1
  print('**',x)

** 1
** 2
** 3
** 4
** 5
** 6

In [ ]:
#question
m=1
n=10
for x in range(m*5,n*2,m+2):
  print(x,end=" ")

5 8 11 14 17

In [ ]:
#write a program to write coordinates and find slope
x1=input("x1=")
y1=input("y1=")
x2=input("x2=")
y2=input("y2=")
x1=float(x1)
y1=float(y1)
x2=float(x2)
y2=float(y2)

if (x1==x2):      #to compare two values in place of '=' ,'=='is used
    print("m=infinite")

else:
    m=(y2-y1)/(x2-x1)
    print("slope=",m)

x1=2
y1=2
x2=4
y2=4
slope= 1.0

In [ ]:
#nested if
marks=input("enter marks =")
marks=float(marks)

if(marks >=95):
  print("A grade")

elif(marks >=85):
  print("B grade")

elif(marks >=75):
  print("C grade")

else:
  print("fail")

enter marks =77
C grade

In [ ]:
# datatype = list
a=[10,20,30,40,50]      #a is an object of class list

print(type(a))
print("\n")

print(a)
print("\n")

print(a[0]) #positive indexing
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print("\n")

print(a[-1])  #negative indexing
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

a[0]=a[0]+1
print(a)

#repetition is allowed in list
a=[10,10,20,20,30,50,40,40]
print(a)
print("\n")

for x in a:  #another way to print list
  print(x)

<class 'list'>


[10, 20, 30, 40, 50]


10
20
30
40
50


50
40
30
20
10
[11, 20, 30, 40, 50]
[10, 10, 20, 20, 30, 50, 40, 40]


10
10
20
20
30
50
40
40

In [ ]:
#Given a list of values,print only those values whose value is >50
# a =[10,55,20,30,68,7,77,19]
a =[10,55,20,30,68,7,77,19]
for x in a:
  if (x>=50):
    print (x)

55
68
77

In [ ]:
#Given a list of values,increase value by 1 if x>50,else decrease by1
# a =[10,60,30,90,50]
a =[10,60,30,90,50]
for x in a:
  if(x>=50):
     print(x+1)
  else:
     print(x-1)

9
61
29
91
51

In [ ]:
#above question can also be done as
a =[10,60,30,90,50]
i=0
for x in a:
  if(x>=50):
     a[i]=x+1
  else:
     a[i]=x-1
  i=i+1
print(a)

[9, 61, 29, 91, 51]

In [ ]:
#create a list that contains all values from 1 to 100
a=list (range(1,101)) #here list is acting as a constructor
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
#create a list from 1 to 100 but alternatively
a=list(range(1,101,2))
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
# len method
c=[10,20,30,40,50]
print(len(c))               #if length is 5 indexing from 0 to 4

5

In [ ]:
#count function
a=[10,20,30,10,40,70,10,10]
print (a.count(10))

4

In [ ]:
#slicing ,print only 3o,40,50,60
c=[10,20,30,40,50,60,70]
print(c[2:6])           #final value is one more
print(c[2:])
print(c[:6])

[30, 40, 50, 60]
[30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60]

In [ ]:
#a =[10,20,30,40,50,60],create a new list from 0 to end but alternatively
i=0
a =[10,20,30,40,50,60]
print(a[::2])

[10, 30, 50]

In [ ]:
#having a list fro 1 to 100,print all values starting from index 0,ending at 
#end of the list with increase of 5
a=list(range(1,101))
print(a[::5])

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [ ]:
#insert function
a=[10,20,30,40,50,60]
a.insert(3,45)
print(a)

[10, 20, 30, 45, 40, 50, 60]

In [ ]:
#append function-adds new value at the last of function
a=[10,20,30,40,50,60]
a.append(70)
print(a)

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
#extend function-adds new values all at once in a list
a=[10,20,30,40,50,60]
z=[70,80,90,100]
a.extend(z)
print(a)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
#remove function
a=[10,20,30,40,50,60]
a.remove(30)
print(a)

[10, 20, 40, 50, 60]

In [ ]:
#pop function-removes the last element only
a=[10,20,30,40,50,60]
a.pop()
a.pop()
print(a)

[10, 20, 30, 40]

In [ ]:
#clear function- removes all the element
a=[10,20,30,40,50,60]
print(a)
a.clear()
print(a)                #if del a is used all the list with a will be deleted from memory

[10, 20, 30, 40, 50, 60]
[]

In [ ]:
# datatype = tuple
a =(10,20,30,40,50)
print(type(a))
print("\n")

print(a)
print("\n")

print(a[0]) #positive indexing
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print("\n")

print(a[-1])  #negative indexing
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

#a[0]=a[0]+1
#print(a)              value inside a tuple cannot be changed,although a complete tuple can be changed

#repetition is allowed in tuple
a=[10,10,20,20,30,50,40,40]
print(a)
print("\n")

for x in a:  #another way to print tuple
  print(x)

<class 'tuple'>


(10, 20, 30, 40, 50)


10
20
30
40
50


50
40
30
20
10
[10, 10, 20, 20, 30, 50, 40, 40]


10
10
20
20
30
50
40
40

In [ ]:
#create a tuple for value 1 to 100
a=tuple(range(1,101))
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)

In [ ]:
#list to tuple
a=[10,20,30,40,50]
b=tuple(a)
print(b)

(10, 20, 30, 40, 50)

In [ ]:
#replace a value in tuple
a =(10,20,30,40,50)
b=list(a)
b[2]=100
a=tuple(b)
print(a)

(10, 20, 100, 40, 50)

In [ ]:
#slicing
a=(10,20,30,40,50,60,70)
#b=(a[2:5])
#print(b)
print(a[::2])

(10, 30, 50, 70)

In [ ]:
#insert,append,remove,pop,clear functions are not supported by tuple
a=(10,20,30,10,40,70,10,10)
print (a.count(10))

4

In [ ]:
#index method
a=(10,20,30,60,50,80,40)
print(a.index(40))

6

In [ ]:
#set datatype, there are no indexing in set nor repetition is allowed,there is no order in set
a={10,20,30,40,50}
print(a)
b={10,50,30,70,10,30,10}
print(b)
#values in set cannot be changed ,only new values can be added

{40, 10, 50, 20, 30}
{70, 10, 50, 30}

In [ ]:
#create a set having all values from 1 to 100
a=set(range(1,101))
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [ ]:
#create a set from a list
a=[10,20,30,40,50,60]
b=set(a)
print(b)

{40, 10, 50, 20, 60, 30}

In [ ]:
#in operator
a={10,20,40,60,90,30}
a.add(100)
print(a)

a.remove (20)          #discard can be used in place of remove as it will not give an error if we try removing a value which is not there in set
print(a)
100 in a

{100, 40, 10, 20, 90, 60, 30}
{100, 40, 10, 90, 60, 30}

True

In [ ]:
#union and intersection
a={10,20,30}
b={30,40,50}
a=a.union(b)          #in place of union update can be used too, | <- this can be used for union
print(a)

{50, 20, 40, 10, 30}

In [ ]:
a={10,20,30}
b={30,40,50}
a=a.intersection(b)            # & <- this can be used in place of intersection
print(a)

{30}

In [ ]:
#difeerence between ,symmetric difference between sets
a={10,20,30}
b={30,40,50}

c= a-b
d= b-a
e = a.symmetric_difference(b)
print(c)
print(d)
print(e)

{10, 20}
{40, 50}
{40, 10, 50, 20}

In [ ]:
# datatype = dictionary -> collection of (key : value) pairs
a={"roll number":100, "name":"Dharmanshu", "marks":100}
a["roll number"]=102
print(a)

{'roll number': 102, 'name': 'Dharmanshu', 'marks': 100}

In [ ]:
#question- create a list which contains value from 1 to n
n = int(input("enter value of n ="))
a=list(range(1,n+1))
print(a)

enter value of n = 7
[1, 2, 3, 4, 5, 6, 7]